*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

header {
    border: none;
    background-color: black; 
	margin-bottom: 3%;
	font-weight: bold;
	font-family: 'Arial';
}

footer {
    border: none;
    background-color: black; 
	margin-bottom: 3%;
	font-weight: bold;
	font-family: 'Arial';
}

nav ul {
    list-style-type: none; 
}

nav a {
    text-decoration: none; 
    color: black;
}

body {
	background-color: black;
	color: white;
	
}

header{
height: 1px;
}
header nav ul{
display: flex;
margin-left: none;
list-style: none;
justify-content: center;  
-ms-flex-wrap: wrap; /* IE10+ */      
flex-wrap: wrap;         
}

header nav ul li{
 padding: 0.6rem 0.9rem; 
}

header nav ul li a{
padding: 15px 20px; 
border-radius: 5px; 
transition: background-color 0.3s; 
}


header a{
text-decoration: none;
color: white;
}

header nav ul li:hover a,
header nav ul li a:focus {
    background-color: rgba(255, 255, 255, 0.2); 
}

header nav ul li a:focus {
    outline: 2px dashed gray; 
    outline-offset: 2px;
}

section{
min-height: 100vh;
border: none; /*1px solid black;*/
display: flex;
align-items: center;
justify-content: center;


-ms-flex-align: center; /* IE10+ */
-ms-flex-pack: center; /* IE10+ */
}

.container p, ul{
margin-top: 2%;

}

ul.fun-facts {
    list-style-type: none; 
    padding-left: 5%; 
}

.small {
    font-size: 0.675rem;
	font-family: 'Arial';
}

.human {
    font-size: 1.1rem;
	color: white;
	font-weight: 900;
	font-family: 'Arial Black';
	text-indent: 5%;
	margin-top: 1px;
	margin-bottom: -1px;
}

footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 0.8rem;
}

.special-text {
    font-size: 1.25rem; 
	color: white;
	font-style: italic;
	font-weight: bold;
	margin:0;
   }
/*1.125rem; = 18px */
	
.indented {
	text-indent: 5%; 
}
	
.spaced {
	margin: 15px;
	padding: 5px;
}
	
.new-line {
     margin-top: 1.25rem;
	 }


.container{
	text-align: center;
	margin: 20px;
}
	
.container img {
	display: block; 
	width: 100%; 
	height: auto; 
	margin-bottom: 10px;
	border-radius: 0;
}

.mantoren-image {
	width: 270px!important;
    height: 383px !important;
    object-fit: cover; 
}

			
.email {
	font-size: 0.9rem;
	font-style: italic; 
	font-weight: bold; 
	font-family:'Arial';
	margin: 0; 
	display: flex;	
}

.video-container {
    display: flex;
    flex-direction: column; 
	-ms-flex-direction: column; /* IE10+ */
    align-items: center;
    margin-top: 10px; 
}

.video {
    margin-bottom: 10px; 
    text-align: center;
}

.video-description {
    font-size: 0.625rem;
	color: white; 
    margin-top: 1px;
	font-family:'Arial';
}

.video-alt-name {
    font-size: 0.625rem;
	color: white; 
    margin-top: 1px;
	font-family:'Arial';
	font-style: italic;
}

.video-name {
    font-size: 1rem;
	color: white; 
    margin-top: 15px;
	font-weight: bold;
	font-family:'Arial';
}

.video-description-big {
    font-size:  0.75rem;
	color: white; 
 	font-family:'Arial';
}

.margin-bottom {
    margin-bottom: 0.5rem; 
}

.wrapper{
	border: 2px solid white;
	padding: 10px;
	background-color: black;
	border-radius: 4px;
	width: auto; 
    max-width: 100%;
}

.left-align {
    text-align: left; 
}


.linkedin-link {
    text-decoration: none;
    color: #0A66C2; /* LinkedIn Blue */
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between logo and text */
	margin-right: 1rem; /* Adjust space between logo and text manually*/
}

.linkedin-link:hover {
    color: #005582; /* Darker blue on hover */
}

.linkedin-logo {
    width: 80px; 
    height: 80px; 
}

.audio-control {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	
}

.audio-control button{
	background-color: #000; /*black */
	color: #fff; /*white */
	border: none;
	padding: 2px 4px;
    border-radius: none;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.audio-control button:hover {
    background-color: #666; /* Darker */
}

.audio-time {
    font-size: 0.8rem; 
    color: #f0f0f0; 
    margin: 0 2px; 
    text-align: center;
}



.seek-bar {
    -webkit-appearance: none; /* Remove default styling */
    width: 100px; 
    height: 5px; 
    background: #D3D3D3; 
    border-radius: 5px; 
    cursor: pointer;
}


	
.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    width: 12px;
    height: 12px; 
    background: #fff; /* Color of the thumb */
    border-radius: 50%; 	
}

.seek-bar::-moz-range-thumb {
    width: 12px; /* Custom width for Firefox */
    height: 12px; 
    background: #fff; 
    border-radius: 50%; 
}




/* Styles for mobile devices */
@media only screen and (max-width: 600px) { 
    
	.human {
    font-size: 0.8rem;
	}
	
	 .small {
        font-size: 0.275rem; 
    }
	
	.video-name {
		font-size: 0.7rem;
	}
	
	.video-description-big {
		font-size: 0.6rem;
	}
	
	.video-alt-name, .video-description {
		font-size: 0.55rem;
	}
		
	.your-element {
        text-align: left;
    }
	.container {
        margin: 10px; 
    }
	
	header nav ul {
        flex-direction: row;
		flex-wrap: wrap;
    }
	
	header nav ul li {
        padding: 0.3rem 0.45rem; 
    }
	
	header {
        padding: 10px; /* Optional padding */
    }
	
		
	/*
	.video-description br {
        display: none; /* Hide <br> elements */
    }
	*/
}

.clickable-image {
    transition: transform 0.2s;
    cursor: pointer; /* Change cursor to pointer */
}

.clickable-image:hover {
    transform: scale(1.05); /* Enlarge image on hover */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.divider40{
	height: 40px	
}

.divider20{
	height: 20px	
}

.bio-container{
	max-width: 600px; 
	margin: 0 auto; /* Center the container */
	padding: 0 10px;
}