*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

header, footer {
    border: none;
    background-color: black; 
}

nav ul {
    list-style-type: none; 
}

nav a {
    text-decoration: none; 
    color: black;
}

body {
	background-color: black;
	color: white;	
}

header{
height: 1px;
}
header nav ul{
display: flex;
margin-left: 60%;
list-style: none;
}

header nav ul li{
padding-left: 3%;
}

header a{
text-decoration: none;
color: white;
}

section{
min-height: 100vh;
border: none; /*1px solid black;*/
display: flex;
justify-content: center;
align-items: center;
}



.container p, ul{
margin-top: 2%;

}

ul.fun-facts {
    list-style-type: none; 
    padding-left: 5%; 
}

.small {
    font-size: 0.6875rem; /*0.7em;*/  
	font-family: 'Arial';
}

footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 1rem;
}

.special-text {
    font-size: 1.125rem; 
	color: white;
	font-style: italic;
	font-weight: bold;
	margin:0;
   }
/*1.125rem; = 18px */
	
.indented {
	text-indent: 3.125rem; 
}
	
.spaced {
	margin: 15px;
	padding: 5px;
}
	
.new-line {
     margin-top: 1.25rem;
	 }


.container{
	text-align: center;
	margin: 20px;
}
	
.container img {
	display: block; 
	width: 100%; 
	height: auto; 
	margin-bottom: 10px;
	border-radius: 0;
}
			
.email {
	font-size: 0.75rem;
	font-style: italic; 
	font-weight: bold; 
	font-family:'Arial';
	margin: 0; 
	
}

.video-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 10px; 
}

.video {
    margin-bottom: 10px; 
    text-align: center;
}

.video-description {
    font-size: 0.625rem;
	color: white; 
    margin-top: 1px;
	font-family:'Arial';
}

.video-alt-name {
    font-size: 0.625rem;
	color: white; 
    margin-top: 1px;
	font-family:'Arial';
	font-style: italic;
}

.video-name {
    font-size: 1rem;
	color: white; 
    margin-top: 15px;
	font-weight: bold;
	font-family:'Arial';
}

.video-description-big {
    font-size:  0.75rem;
	color: white; 
    margin-top: 1px;
	font-family:'Arial';
}

.wrapper{
	border: 2px solid white;
	padding: 10px;
	background-color: black;
	border-radius: 4px;
}

.right-align {
    text-align: right; 
}